<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bigbottle0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,2},{196,229}}</string>
				<key>offset</key>
				<string>{-96,80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,95},{196,229}}</string>
				<key>sourceSize</key>
				<string>{196,229}</string>
			</dict>
			<key>bigbottle0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{211,271}}</string>
				<key>offset</key>
				<string>{-103,159}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,53},{211,271}}</string>
				<key>sourceSize</key>
				<string>{211,271}</string>
			</dict>
			<key>bigbottle0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1172},{207,109}}</string>
				<key>offset</key>
				<string>{-101,-56}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,215},{207,109}}</string>
				<key>sourceSize</key>
				<string>{207,109}</string>
			</dict>
			<key>bigcandle0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,275},{198,160}}</string>
				<key>offset</key>
				<string>{-98,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,160}}</string>
				<key>sourceSize</key>
				<string>{198,160}</string>
			</dict>
			<key>bigcandle0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,419},{198,160}}</string>
				<key>offset</key>
				<string>{-98,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,160}}</string>
				<key>sourceSize</key>
				<string>{198,160}</string>
			</dict>
			<key>bigcandle0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,437},{198,160}}</string>
				<key>offset</key>
				<string>{-98,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,160}}</string>
				<key>sourceSize</key>
				<string>{198,160}</string>
			</dict>
			<key>bigcandle0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,574},{198,160}}</string>
				<key>offset</key>
				<string>{-98,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,160}}</string>
				<key>sourceSize</key>
				<string>{198,160}</string>
			</dict>
			<key>bigcandle0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,581},{198,160}}</string>
				<key>offset</key>
				<string>{-98,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,160}}</string>
				<key>sourceSize</key>
				<string>{198,160}</string>
			</dict>
			<key>bigcandle0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,599},{198,160}}</string>
				<key>offset</key>
				<string>{-98,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,160}}</string>
				<key>sourceSize</key>
				<string>{198,160}</string>
			</dict>
			<key>bigpage0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,885},{194,142}}</string>
				<key>offset</key>
				<string>{-97,79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,105},{194,142}}</string>
				<key>sourceSize</key>
				<string>{194,142}</string>
			</dict>
			<key>bigpage0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,915},{182,150}}</string>
				<key>offset</key>
				<string>{-72,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,97},{182,150}}</string>
				<key>sourceSize</key>
				<string>{182,150}</string>
			</dict>
			<key>bigpage0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1465},{178,102}}</string>
				<key>offset</key>
				<string>{-82,65}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,145},{178,102}}</string>
				<key>sourceSize</key>
				<string>{178,102}</string>
			</dict>
			<key>bigpage0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,915},{90,135}}</string>
				<key>offset</key>
				<string>{-38,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,112},{90,135}}</string>
				<key>sourceSize</key>
				<string>{90,135}</string>
			</dict>
			<key>bigpage0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1406},{126,147}}</string>
				<key>offset</key>
				<string>{-22,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,100},{126,147}}</string>
				<key>sourceSize</key>
				<string>{126,147}</string>
			</dict>
			<key>bigpage0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1569},{101,134}}</string>
				<key>offset</key>
				<string>{-86,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,113},{101,134}}</string>
				<key>sourceSize</key>
				<string>{101,134}</string>
			</dict>
			<key>bigpage0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1614},{156,88}}</string>
				<key>offset</key>
				<string>{-62,59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,159},{156,88}}</string>
				<key>sourceSize</key>
				<string>{156,88}</string>
			</dict>
			<key>bigpage0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1105},{174,132}}</string>
				<key>offset</key>
				<string>{-84,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{174,132}}</string>
				<key>sourceSize</key>
				<string>{174,132}</string>
			</dict>
			<key>bigpage0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,917},{181,159}}</string>
				<key>offset</key>
				<string>{-86,37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,88},{181,159}}</string>
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>bigpage0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,232},{196,178}}</string>
				<key>offset</key>
				<string>{-94,42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,69},{196,178}}</string>
				<key>sourceSize</key>
				<string>{196,178}</string>
			</dict>
			<key>bigpage0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,762},{166,169}}</string>
				<key>offset</key>
				<string>{-70,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,78},{166,169}}</string>
				<key>sourceSize</key>
				<string>{166,169}</string>
			</dict>
			<key>bigpage0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,1283},{119,173}}</string>
				<key>offset</key>
				<string>{-53,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,74},{119,173}}</string>
				<key>sourceSize</key>
				<string>{119,173}</string>
			</dict>
			<key>bigpage0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1586},{150,91}}</string>
				<key>offset</key>
				<string>{-78,55}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,156},{150,91}}</string>
				<key>sourceSize</key>
				<string>{150,91}</string>
			</dict>
			<key>bigpage0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1675},{150,86}}</string>
				<key>offset</key>
				<string>{-57,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,161},{150,86}}</string>
				<key>sourceSize</key>
				<string>{150,86}</string>
			</dict>
			<key>bigpage0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,2},{67,110}}</string>
				<key>offset</key>
				<string>{-76,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,137},{67,110}}</string>
				<key>sourceSize</key>
				<string>{67,110}</string>
			</dict>
			<key>bigpage0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1190},{101,185}}</string>
				<key>offset</key>
				<string>{-13,38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,62},{101,185}}</string>
				<key>sourceSize</key>
				<string>{101,185}</string>
			</dict>
			<key>bigpage0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,603},{133,121}}</string>
				<key>offset</key>
				<string>{-52,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,126},{133,121}}</string>
				<key>sourceSize</key>
				<string>{133,121}</string>
			</dict>
			<key>bigpage0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1725},{99,90}}</string>
				<key>offset</key>
				<string>{-78,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,157},{99,90}}</string>
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>bigpage0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1390},{173,118}}</string>
				<key>offset</key>
				<string>{-84,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,129},{173,118}}</string>
				<key>sourceSize</key>
				<string>{173,118}</string>
			</dict>
			<key>bigpage0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1458},{144,126}}</string>
				<key>offset</key>
				<string>{-62,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,121},{144,126}}</string>
				<key>sourceSize</key>
				<string>{144,126}</string>
			</dict>
			<key>bigpage0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,2},{174,220}}</string>
				<key>offset</key>
				<string>{-77,57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,27},{174,220}}</string>
				<key>sourceSize</key>
				<string>{174,220}</string>
			</dict>
			<key>bigpage0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1763},{180,45}}</string>
				<key>offset</key>
				<string>{-75,69}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,202},{180,45}}</string>
				<key>sourceSize</key>
				<string>{180,45}</string>
			</dict>
			<key>bigpage0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,736},{161,177}}</string>
				<key>offset</key>
				<string>{-77,42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,70},{161,177}}</string>
				<key>sourceSize</key>
				<string>{161,177}</string>
			</dict>
			<key>bigpage0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1219},{138,172}}</string>
				<key>offset</key>
				<string>{-61,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,75},{138,172}}</string>
				<key>sourceSize</key>
				<string>{138,172}</string>
			</dict>
			<key>bigpage0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1778},{175,50}}</string>
				<key>offset</key>
				<string>{-79,-78}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,197},{175,50}}</string>
				<key>sourceSize</key>
				<string>{175,50}</string>
			</dict>
			<key>bigpage0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1239},{145,149}}</string>
				<key>offset</key>
				<string>{-63,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,98},{145,149}}</string>
				<key>sourceSize</key>
				<string>{145,149}</string>
			</dict>
			<key>bigpage0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1633},{149,90}}</string>
				<key>offset</key>
				<string>{-68,-56}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,157},{149,90}}</string>
				<key>sourceSize</key>
				<string>{149,90}</string>
			</dict>
			<key>bigpage0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1569},{143,97}}</string>
				<key>offset</key>
				<string>{-60,69}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,150},{143,97}}</string>
				<key>sourceSize</key>
				<string>{143,97}</string>
			</dict>
			<key>bigpage0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,761},{192,154}}</string>
				<key>offset</key>
				<string>{-87,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,93},{192,154}}</string>
				<key>sourceSize</key>
				<string>{192,154}</string>
			</dict>
			<key>bigpage0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,2},{194,196}}</string>
				<key>offset</key>
				<string>{-90,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,51},{194,196}}</string>
				<key>sourceSize</key>
				<string>{194,196}</string>
			</dict>
			<key>bigpage0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1233},{176,127}}</string>
				<key>offset</key>
				<string>{-75,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,120},{176,127}}</string>
				<key>sourceSize</key>
				<string>{176,127}</string>
			</dict>
			<key>bigpage0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,420},{183,166}}</string>
				<key>offset</key>
				<string>{-84,65}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,81},{183,166}}</string>
				<key>sourceSize</key>
				<string>{183,166}</string>
			</dict>
			<key>bigpage0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,114},{63,63}}</string>
				<key>offset</key>
				<string>{12,37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,184},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>bigpage0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1190},{192,112}}</string>
				<key>offset</key>
				<string>{-92,85}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,135},{192,112}}</string>
				<key>sourceSize</key>
				<string>{192,112}</string>
			</dict>
			<key>bigpage0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,412},{204,160}}</string>
				<key>offset</key>
				<string>{-96,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,87},{204,160}}</string>
				<key>sourceSize</key>
				<string>{204,160}</string>
			</dict>
			<key>bigpage0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1555},{126,118}}</string>
				<key>offset</key>
				<string>{-59,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,129},{126,118}}</string>
				<key>sourceSize</key>
				<string>{126,118}</string>
			</dict>
			<key>bigpage0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1078},{173,139}}</string>
				<key>offset</key>
				<string>{-85,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,108},{173,139}}</string>
				<key>sourceSize</key>
				<string>{173,139}</string>
			</dict>
			<key>bigpage0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1510},{132,121}}</string>
				<key>offset</key>
				<string>{-56,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,126},{132,121}}</string>
				<key>sourceSize</key>
				<string>{132,121}</string>
			</dict>
			<key>bigpage0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,743},{170,175}}</string>
				<key>offset</key>
				<string>{-76,46}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,72},{170,175}}</string>
				<key>sourceSize</key>
				<string>{170,175}</string>
			</dict>
			<key>bigpage0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,933},{160,170}}</string>
				<key>offset</key>
				<string>{-70,26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,77},{160,170}}</string>
				<key>sourceSize</key>
				<string>{160,170}</string>
			</dict>
			<key>bigpage0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,410},{174,191}}</string>
				<key>offset</key>
				<string>{-81,63}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,56},{174,191}}</string>
				<key>sourceSize</key>
				<string>{174,191}</string>
			</dict>
			<key>bigpage0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1705},{179,71}}</string>
				<key>offset</key>
				<string>{-73,60}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,176},{179,71}}</string>
				<key>sourceSize</key>
				<string>{179,71}</string>
			</dict>
			<key>bigpage0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,233},{173,184}}</string>
				<key>offset</key>
				<string>{-82,32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,63},{173,184}}</string>
				<key>sourceSize</key>
				<string>{173,184}</string>
			</dict>
			<key>bigpage0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1029},{192,141}}</string>
				<key>offset</key>
				<string>{-85,34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,106},{192,141}}</string>
				<key>sourceSize</key>
				<string>{192,141}</string>
			</dict>
			<key>bigpage0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,224},{172,194}}</string>
				<key>offset</key>
				<string>{-74,51}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,53},{172,194}}</string>
				<key>sourceSize</key>
				<string>{172,194}</string>
			</dict>
			<key>bigpage0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1465},{107,147}}</string>
				<key>offset</key>
				<string>{-82,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,100},{107,147}}</string>
				<key>sourceSize</key>
				<string>{107,147}</string>
			</dict>
			<key>bigpage0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,1538},{104,141}}</string>
				<key>offset</key>
				<string>{-7,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,106},{104,141}}</string>
				<key>sourceSize</key>
				<string>{104,141}</string>
			</dict>
			<key>bigpage0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,603},{195,157}}</string>
				<key>offset</key>
				<string>{-85,75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,90},{195,157}}</string>
				<key>sourceSize</key>
				<string>{195,157}</string>
			</dict>
			<key>bigpage0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1704},{161,76}}</string>
				<key>offset</key>
				<string>{-73,-64}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,171},{161,76}}</string>
				<key>sourceSize</key>
				<string>{161,76}</string>
			</dict>
			<key>bigpage0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1304},{123,159}}</string>
				<key>offset</key>
				<string>{-82,19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,88},{123,159}}</string>
				<key>sourceSize</key>
				<string>{123,159}</string>
			</dict>
			<key>bigpage0050.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1668},{139,95}}</string>
				<key>offset</key>
				<string>{-33,53}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,152},{139,95}}</string>
				<key>sourceSize</key>
				<string>{139,95}</string>
			</dict>
			<key>bigpage0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,920},{187,147}}</string>
				<key>offset</key>
				<string>{-83,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,100},{187,147}}</string>
				<key>sourceSize</key>
				<string>{187,147}</string>
			</dict>
			<key>bigpage0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,179},{65,38}}</string>
				<key>offset</key>
				<string>{-21,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,209},{65,38}}</string>
				<key>sourceSize</key>
				<string>{65,38}</string>
			</dict>
			<key>bigpage0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,2},{166,228}}</string>
				<key>offset</key>
				<string>{-86,76}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,19},{166,228}}</string>
				<key>sourceSize</key>
				<string>{166,228}</string>
			</dict>
			<key>bigpage0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1765},{105,77}}</string>
				<key>offset</key>
				<string>{-2,-53}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,170},{105,77}}</string>
				<key>sourceSize</key>
				<string>{105,77}</string>
			</dict>
			<key>bigpage0055.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1069},{153,162}}</string>
				<key>offset</key>
				<string>{-83,21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,85},{153,162}}</string>
				<key>sourceSize</key>
				<string>{153,162}</string>
			</dict>
			<key>bigpage0056.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1393},{120,174}}</string>
				<key>offset</key>
				<string>{-18,62}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,73},{120,174}}</string>
				<key>sourceSize</key>
				<string>{120,174}</string>
			</dict>
			<key>bigpage0057.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,200},{173,208}}</string>
				<key>offset</key>
				<string>{-66,65}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,39},{173,208}}</string>
				<key>sourceSize</key>
				<string>{173,208}</string>
			</dict>
			<key>bigpage0058.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1679},{110,103}}</string>
				<key>offset</key>
				<string>{-74,62}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{97,144},{110,103}}</string>
				<key>sourceSize</key>
				<string>{110,103}</string>
			</dict>
			<key>bigpage0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1362},{122,174}}</string>
				<key>offset</key>
				<string>{-19,30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,73},{122,174}}</string>
				<key>sourceSize</key>
				<string>{122,174}</string>
			</dict>
			<key>bigpaint0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1304},{201,100}}</string>
				<key>offset</key>
				<string>{-99,94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,152},{201,100}}</string>
				<key>sourceSize</key>
				<string>{201,100}</string>
			</dict>
			<key>bigpaint0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,736},{201,147}}</string>
				<key>offset</key>
				<string>{-99,53}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,105},{201,147}}</string>
				<key>sourceSize</key>
				<string>{201,147}</string>
			</dict>
			<key>bigpaint0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1067},{199,121}}</string>
				<key>offset</key>
				<string>{-98,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,131},{199,121}}</string>
				<key>sourceSize</key>
				<string>{199,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bigbottle.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>bigbottle.png</string>
		</dict>
	</dict>
</plist>
