<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bottlemode0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{154,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,212}}</string>
				<key>sourceSize</key>
				<string>{154,212}</string>
			</dict>
			<key>bottlemode0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,2},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,2},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,2},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,2},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,2},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,207},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,207},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,207},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,207},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,207},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,216},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,412},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,412},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,412},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,412},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,412},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,421},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,617},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,617},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,617},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,617},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,617},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,626},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,822},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,822},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,822},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,822},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,822},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,831},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1027},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1027},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
			<key>bottlemode0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1027},{147,203}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{147,203}}</string>
				<key>sourceSize</key>
				<string>{147,203}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bottle_mode.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>bottle_mode.png</string>
		</dict>
	</dict>
</plist>
