<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pinsheng0010000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{120,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,89}}</string>
				<key>sourceSize</key>
				<string>{120,89}</string>
			</dict>
			<key>pinsheng0020000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,93},{87,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,78}}</string>
				<key>sourceSize</key>
				<string>{87,78}</string>
			</dict>
			<key>pinsheng0030000.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,245},{79,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,70}}</string>
				<key>sourceSize</key>
				<string>{79,70}</string>
			</dict>
			<key>pinsheng0040000.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,2},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>pinsheng0050000.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,174},{79,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,71}}</string>
				<key>sourceSize</key>
				<string>{79,71}</string>
			</dict>
			<key>pinsheng0060000.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,95},{81,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,77}}</string>
				<key>sourceSize</key>
				<string>{81,77}</string>
			</dict>
			<key>pinsheng0070000.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,174},{81,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,69}}</string>
				<key>sourceSize</key>
				<string>{81,69}</string>
			</dict>
			<key>pinsheng0080000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,173},{82,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,75}}</string>
				<key>sourceSize</key>
				<string>{82,75}</string>
			</dict>
			<key>pinsheng0090000.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,95},{77,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,65}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>pinsheng0100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,247},{73,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,59}}</string>
				<key>sourceSize</key>
				<string>{73,59}</string>
			</dict>
			<key>pinsheng0110000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,308},{83,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,45}}</string>
				<key>sourceSize</key>
				<string>{83,45}</string>
			</dict>
			<key>pinsheng0120000.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,308},{40,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,58}}</string>
				<key>sourceSize</key>
				<string>{40,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>pinsheng.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>pinsheng.png</string>
		</dict>
	</dict>
</plist>
