<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shouti_010000.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,2},{311,257}}</string>
				<key>offset</key>
				<string>{-155,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,257}}</string>
				<key>sourceSize</key>
				<string>{311,257}</string>
			</dict>
			<key>shouti_020000.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,643},{245,252}}</string>
				<key>offset</key>
				<string>{-119,241}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,252}}</string>
				<key>sourceSize</key>
				<string>{245,252}</string>
			</dict>
			<key>shouti_030000.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,745},{280,160}}</string>
				<key>offset</key>
				<string>{-137,246}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,160}}</string>
				<key>sourceSize</key>
				<string>{280,160}</string>
			</dict>
			<key>shouti_040000.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,519},{260,224}}</string>
				<key>offset</key>
				<string>{-126,257}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,224}}</string>
				<key>sourceSize</key>
				<string>{260,224}</string>
			</dict>
			<key>shouti_050000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{372,399}}</string>
				<key>offset</key>
				<string>{-184,252}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{372,399}}</string>
				<key>sourceSize</key>
				<string>{372,399}</string>
			</dict>
			<key>shouti_060000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,403},{275,355}}</string>
				<key>offset</key>
				<string>{-137,243}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,355}}</string>
				<key>sourceSize</key>
				<string>{275,355}</string>
			</dict>
			<key>shouti_070000.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,403},{262,238}}</string>
				<key>offset</key>
				<string>{-157,117}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{262,238}}</string>
				<key>sourceSize</key>
				<string>{262,238}</string>
			</dict>
			<key>shouti_080000.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,2},{251,325}}</string>
				<key>offset</key>
				<string>{-120,247}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,325}}</string>
				<key>sourceSize</key>
				<string>{251,325}</string>
			</dict>
			<key>shouti_090000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,760},{280,226}}</string>
				<key>offset</key>
				<string>{-134,269}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,226}}</string>
				<key>sourceSize</key>
				<string>{280,226}</string>
			</dict>
			<key>shouti_100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,519},{192,212}}</string>
				<key>offset</key>
				<string>{-94,288}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,212}}</string>
				<key>sourceSize</key>
				<string>{192,212}</string>
			</dict>
			<key>shouti_110000.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,261},{229,256}}</string>
				<key>offset</key>
				<string>{-109,237}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,256}}</string>
				<key>sourceSize</key>
				<string>{229,256}</string>
			</dict>
			<key>shouti_120000.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,733},{180,217}}</string>
				<key>offset</key>
				<string>{-89,246}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,217}}</string>
				<key>sourceSize</key>
				<string>{180,217}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>shouti.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>shouti.png</string>
		</dict>
	</dict>
</plist>
