<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>follow_shao0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,224},{91,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,115}}</string>
				<key>sourceSize</key>
				<string>{91,115}</string>
			</dict>
			<key>item_pingzi0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,2},{87,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,131}}</string>
				<key>sourceSize</key>
				<string>{87,131}</string>
			</dict>
			<key>item_pingzi0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,135},{87,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,131}}</string>
				<key>sourceSize</key>
				<string>{87,131}</string>
			</dict>
			<key>item_shao0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,268},{129,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,69}}</string>
				<key>sourceSize</key>
				<string>{129,69}</string>
			</dict>
			<key>item_wan0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,339},{108,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,71}}</string>
				<key>sourceSize</key>
				<string>{108,71}</string>
			</dict>
			<key>item_zaotou0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{161,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,109}}</string>
				<key>sourceSize</key>
				<string>{161,109}</string>
			</dict>
			<key>item_zaotou0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,113},{161,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,109}}</string>
				<key>sourceSize</key>
				<string>{161,109}</string>
			</dict>
			<key>item_zhuxin0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,268},{25,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,54}}</string>
				<key>sourceSize</key>
				<string>{25,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>thawy_items.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>thawy_items.png</string>
		</dict>
	</dict>
</plist>
