<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ani_guoback10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,2},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,2},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,2},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10014.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10016.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10017.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10018.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10019.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10021.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10022.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10023.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10024.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,173},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10025.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10026.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10027.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10028.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,344},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,515},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10030.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,515},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10031.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,515},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10032.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,515},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10033.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,515},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10034.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,515},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10035.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,515},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback10036.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{212,169}}</string>
				<key>offset</key>
				<string>{-190,87}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,169}}</string>
				<key>sourceSize</key>
				<string>{212,169}</string>
			</dict>
			<key>ani_guoback20000.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,986},{154,84}}</string>
				<key>offset</key>
				<string>{47,90}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,31},{154,84}}</string>
				<key>sourceSize</key>
				<string>{154,84}</string>
			</dict>
			<key>ani_guoback20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,967},{150,89}}</string>
				<key>offset</key>
				<string>{45,81}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,26},{150,89}}</string>
				<key>sourceSize</key>
				<string>{150,89}</string>
			</dict>
			<key>ani_guoback20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,967},{150,89}}</string>
				<key>offset</key>
				<string>{45,81}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,26},{150,89}}</string>
				<key>sourceSize</key>
				<string>{150,89}</string>
			</dict>
			<key>ani_guoback20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,852},{140,108}}</string>
				<key>offset</key>
				<string>{42,107}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,7},{140,108}}</string>
				<key>sourceSize</key>
				<string>{140,108}</string>
			</dict>
			<key>ani_guofront10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1018},{157,72}}</string>
				<key>offset</key>
				<string>{-173,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,72}}</string>
				<key>sourceSize</key>
				<string>{157,72}</string>
			</dict>
			<key>ani_guofront10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1058},{157,72}}</string>
				<key>offset</key>
				<string>{-173,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,72}}</string>
				<key>sourceSize</key>
				<string>{157,72}</string>
			</dict>
			<key>ani_guofront20000.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,988},{157,72}}</string>
				<key>offset</key>
				<string>{47,75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,66},{157,72}}</string>
				<key>sourceSize</key>
				<string>{157,72}</string>
			</dict>
			<key>ani_guofront20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,852},{167,113}}</string>
				<key>offset</key>
				<string>{45,89}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,25},{167,113}}</string>
				<key>sourceSize</key>
				<string>{167,113}</string>
			</dict>
			<key>ani_guofront20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,852},{167,113}}</string>
				<key>offset</key>
				<string>{45,89}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,25},{167,113}}</string>
				<key>sourceSize</key>
				<string>{167,113}</string>
			</dict>
			<key>ani_guofront20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,852},{162,134}}</string>
				<key>offset</key>
				<string>{43,115}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,4},{162,134}}</string>
				<key>sourceSize</key>
				<string>{162,134}</string>
			</dict>
			<key>ani_jingyou10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1192},{66,55}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,162},{66,55}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>ani_jingyou10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1158},{69,94}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,123},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>
			<key>ani_jingyou10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1092},{82,118}}</string>
				<key>offset</key>
				<string>{-112,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,99},{82,118}}</string>
				<key>sourceSize</key>
				<string>{82,118}</string>
			</dict>
			<key>ani_jingyou10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,1320},{82,19}}</string>
				<key>offset</key>
				<string>{-160,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,198},{82,19}}</string>
				<key>sourceSize</key>
				<string>{82,19}</string>
			</dict>
			<key>ani_jingyou10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1306},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1306},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1306},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1306},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1307},{95,27}}</string>
				<key>offset</key>
				<string>{54,74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,822},{139,162}}</string>
				<key>offset</key>
				<string>{45,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,55},{139,162}}</string>
				<key>sourceSize</key>
				<string>{139,162}</string>
			</dict>
			<key>ani_jingyou10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,852},{171,164}}</string>
				<key>offset</key>
				<string>{13,41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,53},{171,164}}</string>
				<key>sourceSize</key>
				<string>{171,164}</string>
			</dict>
			<key>ani_jingyou10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1249},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1249},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou20000.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1192},{66,55}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,162},{66,55}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>ani_jingyou20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1132},{69,94}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,123},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>
			<key>ani_jingyou20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1073},{82,118}}</string>
				<key>offset</key>
				<string>{-112,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,99},{82,118}}</string>
				<key>sourceSize</key>
				<string>{82,118}</string>
			</dict>
			<key>ani_jingyou20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1320},{82,19}}</string>
				<key>offset</key>
				<string>{-160,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,198},{82,19}}</string>
				<key>sourceSize</key>
				<string>{82,19}</string>
			</dict>
			<key>ani_jingyou20004.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1294},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou20005.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1294},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou20006.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1294},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou20007.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1294},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou20008.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1298},{95,27}}</string>
				<key>offset</key>
				<string>{54,74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou20009.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,658},{139,162}}</string>
				<key>offset</key>
				<string>{45,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,55},{139,162}}</string>
				<key>sourceSize</key>
				<string>{139,162}</string>
			</dict>
			<key>ani_jingyou20010.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,686},{171,164}}</string>
				<key>offset</key>
				<string>{13,41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,53},{171,164}}</string>
				<key>sourceSize</key>
				<string>{171,164}</string>
			</dict>
			<key>ani_jingyou20011.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1242},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou20012.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1245},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou30000.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1192},{66,55}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,162},{66,55}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>ani_jingyou30001.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1132},{69,94}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,123},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>
			<key>ani_jingyou30002.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1072},{82,118}}</string>
				<key>offset</key>
				<string>{-112,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,99},{82,118}}</string>
				<key>sourceSize</key>
				<string>{82,118}</string>
			</dict>
			<key>ani_jingyou30003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1319},{82,19}}</string>
				<key>offset</key>
				<string>{-160,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,198},{82,19}}</string>
				<key>sourceSize</key>
				<string>{82,19}</string>
			</dict>
			<key>ani_jingyou30004.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1291},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou30005.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1291},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou30006.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1291},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou30007.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1291},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou30008.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1291},{95,27}}</string>
				<key>offset</key>
				<string>{54,74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou30009.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,494},{139,162}}</string>
				<key>offset</key>
				<string>{45,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,55},{139,162}}</string>
				<key>sourceSize</key>
				<string>{139,162}</string>
			</dict>
			<key>ani_jingyou30010.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,686},{171,164}}</string>
				<key>offset</key>
				<string>{13,41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,53},{171,164}}</string>
				<key>sourceSize</key>
				<string>{171,164}</string>
			</dict>
			<key>ani_jingyou30011.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1239},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou30012.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1242},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou40000.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1188},{66,55}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,162},{66,55}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>ani_jingyou40001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1107},{69,94}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,123},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>
			<key>ani_jingyou40002.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1072},{82,118}}</string>
				<key>offset</key>
				<string>{-112,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,99},{82,118}}</string>
				<key>sourceSize</key>
				<string>{82,118}</string>
			</dict>
			<key>ani_jingyou40003.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1317},{82,19}}</string>
				<key>offset</key>
				<string>{-160,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,198},{82,19}}</string>
				<key>sourceSize</key>
				<string>{82,19}</string>
			</dict>
			<key>ani_jingyou40004.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1288},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou40005.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1288},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou40006.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1288},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou40007.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1288},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou40008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1290},{95,27}}</string>
				<key>offset</key>
				<string>{54,74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou40009.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,330},{139,162}}</string>
				<key>offset</key>
				<string>{45,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,55},{139,162}}</string>
				<key>sourceSize</key>
				<string>{139,162}</string>
			</dict>
			<key>ani_jingyou40010.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,686},{171,164}}</string>
				<key>offset</key>
				<string>{13,41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,53},{171,164}}</string>
				<key>sourceSize</key>
				<string>{171,164}</string>
			</dict>
			<key>ani_jingyou40011.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1228},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou40012.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1239},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou50000.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1182},{66,55}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,162},{66,55}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>ani_jingyou50001.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1092},{69,94}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,123},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>
			<key>ani_jingyou50002.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1062},{82,118}}</string>
				<key>offset</key>
				<string>{-112,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,99},{82,118}}</string>
				<key>sourceSize</key>
				<string>{82,118}</string>
			</dict>
			<key>ani_jingyou50003.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1307},{82,19}}</string>
				<key>offset</key>
				<string>{-160,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,198},{82,19}}</string>
				<key>sourceSize</key>
				<string>{82,19}</string>
			</dict>
			<key>ani_jingyou50004.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1277},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou50005.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1277},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou50006.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1277},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou50007.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1277},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou50008.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1278},{95,27}}</string>
				<key>offset</key>
				<string>{54,74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou50009.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,166},{139,162}}</string>
				<key>offset</key>
				<string>{45,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,55},{139,162}}</string>
				<key>sourceSize</key>
				<string>{139,162}</string>
			</dict>
			<key>ani_jingyou50010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,686},{171,168}}</string>
				<key>offset</key>
				<string>{13,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,49},{171,168}}</string>
				<key>sourceSize</key>
				<string>{171,168}</string>
			</dict>
			<key>ani_jingyou50011.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1212},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou50012.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1212},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou60000.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1182},{66,55}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,162},{66,55}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>ani_jingyou60001.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1062},{69,94}}</string>
				<key>offset</key>
				<string>{-102,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,123},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>
			<key>ani_jingyou60002.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1062},{82,118}}</string>
				<key>offset</key>
				<string>{-112,99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,99},{82,118}}</string>
				<key>sourceSize</key>
				<string>{82,118}</string>
			</dict>
			<key>ani_jingyou60003.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1254},{82,19}}</string>
				<key>offset</key>
				<string>{-160,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,198},{82,19}}</string>
				<key>sourceSize</key>
				<string>{82,19}</string>
			</dict>
			<key>ani_jingyou60004.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1249},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou60005.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1249},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou60006.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1249},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou60007.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1249},{95,27}}</string>
				<key>offset</key>
				<string>{-166,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou60008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1261},{95,27}}</string>
				<key>offset</key>
				<string>{54,74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,190},{95,27}}</string>
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>ani_jingyou60009.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,2},{139,162}}</string>
				<key>offset</key>
				<string>{45,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,55},{139,162}}</string>
				<key>sourceSize</key>
				<string>{139,162}</string>
			</dict>
			<key>ani_jingyou60010.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,686},{171,164}}</string>
				<key>offset</key>
				<string>{13,41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,53},{171,164}}</string>
				<key>sourceSize</key>
				<string>{171,164}</string>
			</dict>
			<key>ani_jingyou60011.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1193},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_jingyou60012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1203},{77,47}}</string>
				<key>offset</key>
				<string>{-2,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,170},{77,47}}</string>
				<key>sourceSize</key>
				<string>{77,47}</string>
			</dict>
			<key>ani_wan0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,962},{124,109}}</string>
				<key>offset</key>
				<string>{-119,119}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,25},{124,109}}</string>
				<key>sourceSize</key>
				<string>{124,109}</string>
			</dict>
			<key>ani_wan0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,856},{119,123}}</string>
				<key>offset</key>
				<string>{-116,126}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,11},{119,123}}</string>
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>ani_wan0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,981},{105,124}}</string>
				<key>offset</key>
				<string>{-109,137}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,10},{105,124}}</string>
				<key>sourceSize</key>
				<string>{105,124}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>thawy_animation.png</string>
			<key>size</key>
			<string>{1022,2048}</string>
			<key>textureFileName</key>
			<string>thawy_animation.png</string>
		</dict>
	</dict>
</plist>
