<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bigMoneyBar0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,403},{126,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,55}}</string>
				<key>sourceSize</key>
				<string>{126,55}</string>
			</dict>
			<key>btn_MUSIC0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,459},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_MUSIC0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,315},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>btn_MUSIC0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,459},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_MUSIC0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,152},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>btn_back0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,2},{107,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,108}}</string>
				<key>sourceSize</key>
				<string>{107,108}</string>
			</dict>
			<key>btn_back0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,2},{107,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,108}}</string>
				<key>sourceSize</key>
				<string>{107,108}</string>
			</dict>
			<key>btn_back0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,120},{103,105}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{103,105}}</string>
				<key>sourceSize</key>
				<string>{103,105}</string>
			</dict>
			<key>btn_buy0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,320},{69,70}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{69,70}}</string>
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>btn_buy0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,2},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,74}}</string>
				<key>sourceSize</key>
				<string>{73,74}</string>
			</dict>
			<key>btn_buy0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,78},{71,72}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{71,72}}</string>
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>btn_buy0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,403},{69,70}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{69,70}}</string>
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>btn_home0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,112},{107,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,108}}</string>
				<key>sourceSize</key>
				<string>{107,108}</string>
			</dict>
			<key>btn_home0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,112},{107,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,108}}</string>
				<key>sourceSize</key>
				<string>{107,108}</string>
			</dict>
			<key>btn_home0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,120},{103,105}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{103,105}}</string>
				<key>sourceSize</key>
				<string>{103,105}</string>
			</dict>
			<key>btn_music20000.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,460},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_music20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,408},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>btn_music20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,460},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_music20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,403},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>btn_pag20000.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,222},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,91}}</string>
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>
			<key>btn_pag20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,222},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,91}}</string>
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>
			<key>btn_pag20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,315},{85,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{85,86}}</string>
				<key>sourceSize</key>
				<string>{85,86}</string>
			</dict>
			<key>btn_pag20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,315},{85,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{85,86}}</string>
				<key>sourceSize</key>
				<string>{85,86}</string>
			</dict>
			<key>btn_page0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,222},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,91}}</string>
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>
			<key>btn_page0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,227},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,91}}</string>
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>
			<key>btn_page0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,315},{85,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{85,86}}</string>
				<key>sourceSize</key>
				<string>{85,86}</string>
			</dict>
			<key>btn_page0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,320},{85,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{85,86}}</string>
				<key>sourceSize</key>
				<string>{85,86}</string>
			</dict>
			<key>btn_remove0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{104,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,116}}</string>
				<key>sourceSize</key>
				<string>{104,116}</string>
			</dict>
			<key>btn_remove0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,2},{104,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,116}}</string>
				<key>sourceSize</key>
				<string>{104,116}</string>
			</dict>
			<key>btnarrow0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,227},{84,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,91}}</string>
				<key>sourceSize</key>
				<string>{84,91}</string>
			</dict>
			<key>maskMc0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,218},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>smallMoneyBar0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,403},{130,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,54}}</string>
				<key>sourceSize</key>
				<string>{130,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ui_btns.png</string>
			<key>size</key>
			<string>{510,1024}</string>
			<key>textureFileName</key>
			<string>ui_btns.png</string>
		</dict>
	</dict>
</plist>
