<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_MUSIC0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,293},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_MUSIC0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,293},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>btn_MUSIC0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,293},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_MUSIC0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,293},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>btn_music20000.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,293},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_music20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,293},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>btn_music20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,293},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btn_music20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,293},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>gamelogo0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{509,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{509,289}}</string>
				<key>sourceSize</key>
				<string>{509,289}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>UI_MainMenu.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>UI_MainMenu.png</string>
		</dict>
	</dict>
</plist>
