<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_you_010000.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,231},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,111}</string>
			</dict>
			<key>btn_you_020000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,150},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,111}</string>
			</dict>
			<key>btn_you_030000.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,344},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,111}</string>
			</dict>
			<key>btn_you_040000.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,231},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,111}</string>
			</dict>
			<key>btn_you_050000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,263},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,111}</string>
			</dict>
			<key>btn_you_050001.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,117},{74,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,112}}</string>
				<key>sourceSize</key>
				<string>{74,112}</string>
			</dict>
			<key>btn_you_060000.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,344},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,111}</string>
			</dict>
			<key>btn_you_060001.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,2},{74,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,113}}</string>
				<key>sourceSize</key>
				<string>{74,113}</string>
			</dict>
			<key>trawy_bg0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{130,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,146}}</string>
				<key>sourceSize</key>
				<string>{130,146}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>UI_Thawy.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>UI_Thawy.png</string>
		</dict>
	</dict>
</plist>
