<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhuangshi_010000.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,369},{202,80}}</string>
				<key>offset</key>
				<string>{-100,40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,80}}</string>
				<key>sourceSize</key>
				<string>{202,80}</string>
			</dict>
			<key>zhuangshi_020000.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,2},{205,115}}</string>
				<key>offset</key>
				<string>{-98,51}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,115}}</string>
				<key>sourceSize</key>
				<string>{205,115}</string>
			</dict>
			<key>zhuangshi_030000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,128},{288,96}}</string>
				<key>offset</key>
				<string>{-138,40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,96}}</string>
				<key>sourceSize</key>
				<string>{288,96}</string>
			</dict>
			<key>zhuangshi_040000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,451},{218,73}}</string>
				<key>offset</key>
				<string>{-109,36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,73}}</string>
				<key>sourceSize</key>
				<string>{218,73}</string>
			</dict>
			<key>zhuangshi_050000.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,207},{211,82}}</string>
				<key>offset</key>
				<string>{-101,40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,82}}</string>
				<key>sourceSize</key>
				<string>{211,82}</string>
			</dict>
			<key>zhuangshi_060000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{240,124}}</string>
				<key>offset</key>
				<string>{-108,55}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,124}}</string>
				<key>sourceSize</key>
				<string>{240,124}</string>
			</dict>
			<key>zhuangshi_070000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,331},{200,83}}</string>
				<key>offset</key>
				<string>{-98,39}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,83}}</string>
				<key>sourceSize</key>
				<string>{200,83}</string>
			</dict>
			<key>zhuangshi_080000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,226},{228,103}}</string>
				<key>offset</key>
				<string>{-114,55}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,103}}</string>
				<key>sourceSize</key>
				<string>{228,103}</string>
			</dict>
			<key>zhuangshi_090000.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,119},{212,86}}</string>
				<key>offset</key>
				<string>{-110,38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,86}}</string>
				<key>sourceSize</key>
				<string>{212,86}</string>
			</dict>
			<key>zhuangshi_100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,291},{221,76}}</string>
				<key>offset</key>
				<string>{-99,37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,76}}</string>
				<key>sourceSize</key>
				<string>{221,76}</string>
			</dict>
			<key>zhuangshi_110000.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,502},{220,48}}</string>
				<key>offset</key>
				<string>{-109,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,48}}</string>
				<key>sourceSize</key>
				<string>{220,48}</string>
			</dict>
			<key>zhuangshi_120000.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,451},{220,49}}</string>
				<key>offset</key>
				<string>{-110,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,49}}</string>
				<key>sourceSize</key>
				<string>{220,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>zhuangshi.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>zhuangshi.png</string>
		</dict>
	</dict>
</plist>
