/* 289 2015移动端配置CSS */
body { background-color: #f2f2f2; font-family:"microsoft yahei"; margin: 0; padding: 0;font-size:100%; font-weight: normal; padding: 0; padding-top: 44px;padding-bottom: 50px;}
ul, ol,dl,h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
ul li ,ol li { list-style:none}
p { margin:0}
i,em { font-style: normal;}
a {color: #333; text-decoration: none; }
a:hover { color: #000;outline: medium none;text-decoration: none; }
a:focus, a:link {outline: medium none; }
a:active{star:expression(this.onFocus=this.blur());}
.f-fl,.f-lifl li { float:left; display:inline;}
.f-fr { float: right; display:inline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1;}
/* 顶部 */
.g-head {	background-color:#f03e0f;color:#fff;position:fixed;     left: 0;    z-index: 10;    width: 100%;    height: 44px;       box-sizing: border-box;    -webkit-user-select: none; top: 0}
.g-head h2{position: absolute;    top: 0;    right: 0;    left: 0;    z-index: 0;    font-size: 1.6rem;    line-height: 44px;    text-align: center;    font-weight: 700;    margin: 0 40px;    min-width: 30px;    overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
.g-head .m-gohome { position: absolute; display: block; left: 5px;top:7px; width: 40px; height: 28px;  background-size: 28px; background-image: url(../images/home.png); background-repeat: no-repeat; background-position: center 0px; }
.g-head .m-ss {position: absolute; width: 70px;  height:30px; right: 0px; top: 8px;}
.g-head .m-ss a{ color: #fff; display: block; font-size: 14px; line-height: 24px;}
.g-head .m-ss a i { display: inline-block; width: 24px; height: 24px;background-size: 24px; background-image: url(../images/ss.png);  float: left; margin-right: 5px; }

/*  */
.scroll {    height: auto;    margin: auto 0;    position: relative;    overflow: hidden;    -webkit-user-select: none;}
.scroll .slide {    position: absolute;    left: 0;    top: 0;    width: 100000px;    -webkit-user-select: none;}
.scroll .slide li {    position: relative;    -webkit-user-select: none;float: left;}
.scroll .slide li a {    -webkit-tap-highlight-color: rgba(0,0,0,0);}
.scroll .slide li img {    width: 100%;    height: 100%;}
.slide li p {    width: 100%;    height: 35px;    background-color: rgba(0,0,0,0.7);    position: absolute;    left: 0;    bottom: 0;
    color: #fff;    font-size: 1rem;    line-height: 35px;    text-indent: 12px;}
.slide_dot {    position: absolute;    bottom: 10px;    right: 0px;z-index: 10;}
.slide_dot span {    display: inline-block;    width: 6px;    height: 6px;    margin-right: 10px;    background-color: #fff;    border-radius: 6px;}
.slide_dot .selected {    background-color: #f42d2d;}
/* 通用导航 */
.g-nav{ background: rgba(255,255,255,0.88);text-align: center;    position: relative; z-index: 999; top: 45px; left: 0; width: 100%; }
.g-nav p {display: box;display: -webkit-box;display: -moz-box;    border-bottom: 1px solid #d3d3d3;}
.g-nav p span {height: 40px;line-height: 40px;-webkit-box-flex: 1;    box-flex: 1;display: block;position: relative;}
.g-nav p span.active { border-bottom: 2px #f40 solid;}
.g-nav p span.active a { color: #f40}
.g-nav p span a { font-size: 1.6rem; font-weight: bold; display: block;}
.g-nav p span a:hover { color: #999}

.backtop {    width: 40px;    height: 40px;    position: fixed;    right: 10px;    bottom: 50px;    overflow: hidden;}
.backtop a {    display: block;    width: 100%;    height: 100%;    border-radius: 20px;    background: rgba(0,0,0,0.6) url("../images/backtop.png") no-repeat;    background-size: 100% 100%;    text-indent: -999em;}
/* H3t通用 */
.h3tit { height: 40px; line-height: 40px; background-color: #fff; border-bottom: 1px #e5e5e5 solid; }
.h3tit strong { font-size: 1.6rem; font-weight: normal;}
.h3tit strong i { color: #f40}
.h3tit strong span { display: inline-block; width: 5px; height: 20px; float: left; margin: 11px 5px 0 10px}
/* 发现二级菜单 */
.g-nav2 {    border-bottom: 1px solid #d6d6d6;    background-color: #FFF;}
.g-nav2 ul {    display: -webkit-box;    display: -ms-flexbox;    display: -moz-box;    display: flexbox;
    display: box;    width: 100%;}
.g-nav2 ul li {    display: block;    -webkit-box-flex: 1;    -moz-box-flex: 1;    -ms-box-flex: 1;    box-flex: 1;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;    -ms-box-sizing: border-box;    box-sizing: border-box;    height: 40px;    font-size: 17px;    text-align: center;    border-right: 1px solid #efefef;    -webkit-tap-highlight-color: rgba(100,100,100,.3);}
.g-nav2 ul li.hover a{ border-bottom: 1px #fff solid; height: 41px;}
.g-nav2 ul li a {    display: block;    height: 100%;    color: #333;    line-height: 40px;}
.g-nav2 ul li.active a {    color: #F03E0F;    background-color: #f2f2f2;}
/* 列表-通用 */
.m-listgame {}
.m-listgame li{}
.m-listgame li a{ display: block; background-color: #fff;box-shadow: 0 1px 2px rgba(153,153,153,.2); position: relative; border-bottom:1px #e5e5e5 solid;}
.m-listgame li a:hover { background-color: #f1f1f1}
.m-listgame li a img.m-gametu { display: block; width: 68px; height: 68px; margin: 15px; border-radius: 15px;}
.m-listgame li a div p:nth-child(1) { font-size: 1.8rem; height: 42px; padding-top: 15px; overflow: hidden;}
.m-listgame li a:hover div p:nth-child(1) { color: #f40;}
.m-listgame li a div p:nth-child(2) img{  margin-bottom: 5px;}
.m-listgame li a div p:nth-child(3) { color: #999; font-size: 1.2rem;}
.m-listgame li a span { position: absolute; width: 20%; height: 32px; line-height: 32px; text-align: center; border-radius: 5px; border:1px #f40 solid;top:46px; right: 15px; color: #f40;}
.m-listgame li a:hover span { background-color: #f40; color: #fff;}
/* 分页 */
.f-pagebox{ width:100%; height:auto; display:block; overflow:hidden; margin:0; box-sizing:border-box; padding:0 0 46px 0;}
.f-pagebox table{margin:auto;text-align:center;}
.f-pagebox b{ display:none;}
.f-pagebox a{display:none;border:1px solid #d0d0d0;background:#fff;color:#000; float:left;margin:10px 2% 0 2%; height:40px; line-height:40px; text-align:center; padding:0; width:45%; font-size:14px; box-sizing:border-box}
.f-pagebox a:hover {background:#f1f1f9;text-decoration:none;}
.f-pagebox a.active{background:#f1f1f9;color:#f60;border:#d0d0d0 1px solid;font-weight:bold;}
.f-pagebox .disable {background:#eee;color:#999; }
.f-pagebox .prev,.f-pagebox .next {display: inline}
.f-pagebox input { display:none}
#page{width:96%;margin:14px auto;background:#fafafa;display:box;display:-webkit-box;display:-moz-box;border:1px solid #ddd;border-right:none}
#page a,#page p{height:30px;line-height:30px;-webkit-box-flex:1;box-flex:1;display:block;position:relative;border-right:1px #ddd solid;text-align:center}
.w-newmian .fenye p a{height:30px;line-height:30px;-webkit-box-flex:1;box-flex:1;display:block;position:relative;border-right:1px #ddd solid;text-align:center;text-indent:0;color:#000;text-decoration:none}
.fenye p a.active{background-color:#000;color:#fff}
.fenye p a em{padding:0;margin:0}
#page a.active,#page a.disable{color:#999}
#page p.pageRemark{border-style:none;background:none;margin-right:0px;padding:4px 0px;color:#666; display: none;}
/* 横向列表 */
.m-listul  { background-color: #fff; padding-bottom: 20px; padding:0 2.5%;}
.m-listul li { width: 25%; text-align: center; margin:20px 0 0 0}
.m-listul li  a  img { width: 70%; display: block; margin: 0 15%; border-radius: 20px;}
.m-listul li  a p { height: 30px; line-height: 30px; overflow: hidden; margin: 0 10%}
.m-listul li  a p { height: 30px; line-height: 30px; overflow: hidden; margin: 0 10%}
.m-listul li  a span { display: inline-block; width: 60px; height: 26px; border: 1px #f40 solid; line-height: 26px; text-align: center; color: #f40; border-radius: 5px;}
.m-listul li  a:hover span { color: #fff; background-color: #f40}
/* 专题横向 */
.g-index-hotzq{ width:100%; height:auto; padding:0 0 0 0; margin:0 0 0 0; background:#fff; display:block;  position:relative; zoom:1;}
.g-index-hotzq .g-recomd-ul{ width:auto; height:auto; position:relative; top:0px; left:0; white-space:nowrap; overflow:visible; display:block; overflow:hidden; padding: 10px 0}
.g-index-hotzq .g-recomd-ul li{ width:45%; height:auto; display:inline-block; margin:0 0 0 15px; float: left;}
.g-index-hotzq .g-recomd-ul li a{ width:100%; height:auto; display:block; overflow:hidden}
.g-index-hotzq .g-recomd-ul li a img{ width:100%; height:auto; border-radius:10px; display:block; overflow:hidden}
.g-index-hotzq .g-recomd-ul li a span{ width:100%; height:20px; line-height:20px; font-size:14px; font-weight:normal; color:#333; text-align:center; margin:4px 0 0 0; display:block; overflow:hidden}


/* 首页彩色分类 */
.m-hotclas {    margin: 6px 0;     background: #fff;    overflow: hidden;}
.m-hotclas .m-hotcdiv {    padding:0 10px;    -webkit-box-flex: 1;    -webkit-flex: 1;    -ms-flex: 1;
    flex: 1;    overflow: hidden;}
.m-hotclas .m-hotcdiv div{    display: -webkit-box;    display: -webkit-flex;    display: -ms-flexbox;    display: flex;    margin-top: .5rem;    margin-bottom: .5rem;    text-align: center;}
.m-hotclas .m-hotcdiv div a {    display: block;    -webkit-box-flex: 1;    -webkit-flex: 1;    -ms-flex: 1;    flex: 1;    text-decoration: none;    box-sizing: border-box;    padding: .5rem 0;
    margin-right: .375rem;    margin-left: .375rem;    font-size: 1rem;    color: #fff;}
.m-hotclas .m-hotcdiv div:nth-child(1) a:nth-child(1) {    background: #e9604a;}
.m-hotclas .m-hotcdiv div:nth-child(1) a:nth-child(2) {    background: #859595;}
.m-hotclas .m-hotcdiv div:nth-child(1) a:nth-child(3) {    background: #6cf;}
.m-hotclas .m-hotcdiv div:nth-child(1) a:nth-child(4) {    background: #6c6;}
.m-hotclas .m-hotcdiv div:nth-child(2) a:nth-child(1) {    background: #ea4c87;}
.m-hotclas .m-hotcdiv div:nth-child(2) a:nth-child(2) {    background: #f90;}
.m-hotclas .m-hotcdiv div:nth-child(2) a:nth-child(3) {    background: #b87e64;}
.m-hotclas .m-hotcdiv div:nth-child(2) a:nth-child(4) {    background: #9d76c9;}
/* 移动评论 */
.g-game-comment{ width:100%; height:auto;  margin:5px 0 0 0; box-shadow:0 2px 3px #ccc; padding:0 10px 20px; box-sizing:border-box; display:block; overflow:hidden; background-color: #fff;}
.g-game-comment .g-game-img{ width:80px; height:80px; float:left; position:relative; zoom:1; margin:15px 0 0 5px; display:inline; overflow:hidden;}
.g-game-comment .g-game-img img{ width:100%; height:80px; display:block; overflow:hidden; border-radius:10px;}
.g-game-comment .g-game-img b{ width:100%; height:80px; background:url(../images/down-img-light.png) no-repeat left top; background-size:80px; position:absolute; left:0; top:0; z-index:5}
.g-game-comment .w-text{ width:100%; height:auto; display:block; overflow:hidden; margin:10px 0 0 0;}
.g-game-comment .w-text textarea{ width:100%; height:auto; display:block; overflow:hidden;background-color: #fff;    border: 1px solid #ccc;    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);    -webkit-transition: border linear .2s,box-shadow linear .2s;    -moz-transition: border linear .2s,box-shadow linear .2s;    -o-transition: border linear .2s,box-shadow linear .2s;    transition: border linear .2s,box-shadow linear .2s;    padding: 4px 6px;    margin-bottom: 10px;    font-size: 14px;    line-height: 20px;    color: #555;    vertical-align: middle;    -webkit-border-radius: 4px;    -moz-border-radius: 4px;    border-radius: 4px;}
.g-game-comment .w-button{ width:100%; height:auto; display:block; overflow:hidden}
.g-game-comment .w-button #verify{ width:100%; height:30px; line-height:30px; background:#ff4d4e; font-size:14px; font-weight:normal; font-family:"微软雅黑"; text-align:center; color:#fff; padding:0; margin:0; border:0; display:block; overflow:hidden; border-radius:4px;}
.g-game-title{ width:100%; height:30px; line-height:30px; font-size:15px; font-weight:normal; font-family:"微软雅黑"; color:#151515; border-left:5px solid #ff1948; box-sizing:border-box; margin:18px 0 0 0; display:block; overflow:hidden; background:#f5f5f5; text-indent:10px;}
.g-game-comment .g-game-ly{ width:100%; height:auto; display:block; overflow:hidden; margin:0; padding:0;}
.g-game-comment .g-game-ly dl{ width:100%; height:auto; display:block; overflow:hidden; margin:0 0 0 0;box-sizing:border-box}
.g-game-comment .g-game-ly dl dt{ width:100%; height:14px; line-height:14px; font-size:14px; font-weight:normal; font-family:"微软雅黑"; color:#1c934e; margin:10px 0 0 0;}
.g-game-comment .g-game-ly dl dt b{ font-size:14px; font-weight:normal; font-family:"微软雅黑"; color:#e60000}
.g-game-comment .g-game-ly dl dt i{ display:none}
.g-game-comment .g-game-ly dl dt em{ display:none}
.g-game-comment .g-game-ly dl dd{ width:100%;height:auto; line-height:20px; font-size:12px; font-weight:normal; color:#151515; text-indent:25px; padding:6px 0 0 6px; display:block; background:url(../images/down-ly-bg.png) no-repeat 14px 7px; overflow:hidden; margin:0 }
.g-game-comment .g-game-ly dl dd p{ display:none}
/* 底部 */
.g-footer {    text-align: center; background-color: #333;}
.g-footer .m-footdiv { text-align: center; padding: 15px 0;}
.g-footer .m-footdiv a { display: inline-block; width: 20%; height: 34px; line-height: 34px; border-radius: 5px; border: 1px #555 solid; color: #aaa; background-color: #444; margin: 0 10px;}
.g-footer .ft_copy { color: #666; padding-bottom: 20px;}


/* 固定底部菜单 */
.m-foot {    height: 50px;    background-color: #fff;    position: fixed;    width: 100%;    z-index: 9999;    bottom:0px; border; border-top: 1px #dedede solid;}
.m-foot div {display: box;    display: -webkit-box;}
.m-foot div p {-webkit-box-flex: 1;    box-flex: 1;    display: block;    position: relative; height: 50px;}
.m-foot div p a { display: block; text-align: center;}
.m-foot div p a span { width: 30px; height: 30px; background-color: ; display: block; margin: 0 auto; background-image: url(../images/ico.png); background-repeat: no-repeat; background-size: 200px;}
.m-foot div p a:hover,.m-foot div p.f-hover a { color:#f03e0f }
.m-foot div p:nth-child(1) a span { background-position:-8px -12px  }
.m-foot div p:nth-child(2) a span { background-position:-60px -12px  }
.m-foot div p:nth-child(3) a span { background-position:-112px -12px  }
.m-foot div p:nth-child(1) a:hover span,.m-foot div p.f-hover:nth-child(1) a span { background-position:-8px -85px  }
.m-foot div p:nth-child(2) a:hover span,.m-foot div p.f-hover:nth-child(2) a span { background-position:-60px -85px  }
.m-foot div p:nth-child(3) a:hover span,.m-foot div p.f-hover:nth-child(3) a span { background-position:-112px -85px  }

/* 分类列表 */
.g-class { padding: 20px 0 10px}
.g-class dl {float: left;    width: 50%; margin-bottom: 20px;}
.g-class dl dt {    display: block;    width: 70px;    height: 18px;    margin: 0 auto;    line-height: 18px;    font-size: 14px; font-weight: normal;    text-align: center;    border: 1px solid #859595;    background: #859595;    color: #fff;    border-bottom: 0 none;    border-top-left-radius: 5px;    border-top-right-radius: 5px;}
.g-class dl dd {line-height: 2;    text-align: center;    font-size: 14px;    position: relative;}
.g-class dl dd a { display: block; margin: 0 8%}
.g-class dl dd a img {    display: block;    width:100%;    margin: 0 auto;    background: #fff;    border: 2px solid #859595;    border-radius: 15px;}
.g-class dl:nth-child(1) dt {border: 1px solid #f60;    background: #f60;}
.g-class dl:nth-child(1) dd a img{ border-color:#f60 }
.g-class dl:nth-child(2) dt {border: 1px solid #f64747;    background: #f64747;}
.g-class dl:nth-child(2) dd a img{ border-color:#f64747 }
.g-class dl:nth-child(3) dt {border: 1px solid #5FC700;    background: #5FC700;}
.g-class dl:nth-child(3) dd a img{ border-color:#5FC700 }
.g-class dl:nth-child(4) dt {border: 1px solid #FC0;    background: #FC0;}
.g-class dl:nth-child(4) dd a img{ border-color:#FC0 }
.g-class dl:nth-child(5) dt {border: 1px solid #19B5FE;    background: #19B5FE;}
.g-class dl:nth-child(5) dd a img{ border-color:#19B5FE }
.g-class dl:nth-child(6) dt {border: 1px solid #BE90D4;    background: #BE90D4;}
.g-class dl:nth-child(6) dd a img{ border-color:#BE90D4 }
.g-class dl:nth-child(7) dt {border: 1px solid #EA4C87;    background: #EA4C87;}
.g-class dl:nth-child(7) dd a img{ border-color:#EA4C87 }
.g-class dl:nth-child(8) dt {border: 1px solid #859595;    background: #859595;}
.g-class dl:nth-child(8) dd a img{ border-color:#859595 }
.g-class dl:nth-child(9) dt {border: 1px solid #26AF61;    background: #26AF61;}
.g-class dl:nth-child(9) dd a img{ border-color:#26AF61 }
.g-class dl:nth-child(10) dt {border: 1px solid #F8A407;    background: #F8A407;}
.g-class dl:nth-child(10) dd a img{ border-color:#F8A407 }
.g-class dl:nth-child(11) dt {border: 1px solid #7C72E5;    background: #7C72E5;}
.g-class dl:nth-child(11) dd a img{ border-color:#7C72E5 }
.g-class dl:nth-child(12) dt {border: 1px solid #BF8D6C;    background: #BF8D6C;}
.g-class dl:nth-child(12) dd a img{ border-color:#BF8D6C }

/* 内容页 */
.g-h3tit { background-color: #f2f2f2; height: 30px; line-height: 30px; position: relative;}

.g-h3tit strong { float: left; padding-left: 38px;}
.g-h3tit strong  { font-size: 1.6rem; font-weight: normal;}
.g-h3tit strong span { position: absolute; width: 24px; height: 24px;  left: 12px; top: 4px; background-image: url(../images/viewico.png); background-size: 27px}

.g-h3tit strong span.m-vjj { background-position: -5px -35px;}
.g-h3tit strong span.m-vjt { background-position: -5px -1px;}
.g-h3tit strong span.m-vtt { background-position: -5px -68px;}
.g-h3tit strong span.m-vpl { background-position: -5px -104px;}
.g-gametit { background-color: #fff; position: relative; }
.g-gametit .m-gametu{ display: block; width: 80px; height: 80px; border-radius: 20px; margin: 15px;}
.g-gametit div h1 { font-size: 1.6rem; padding:15px 10px 8px 0;}
.g-gametit div p { }
.g-gametit div p img{ height: 18px; margin-bottom: 7px;}
.g-gametit div .m-info { color:#999; font-size: 1.4rem;}
.g-gametit  .m-adown {    position: absolute;    width: 20%;   text-align: center;top: 50px;right: 10px;color: #f40;}
.g-gametit  .m-adown a { display: block; height: 38px;    line-height: 38px; color: #fff; border: 1px #f40 solid; background-color: #f40;border-radius: 3px; font-size: 1.5rem;}
.g-gametit  .m-adown a:hover { background-color: #d63900;}
.m-downmain {font-size: 1.5rem;    line-height: 26px; color: #474747; background-color: #fff; padding: 15px;}
.m-downmain p{ margin-bottom: 15px; text-indent: 2rem;}
.m-downmain h3,.m-downmain h4 { font-size: 1.8rem; margin-bottom: 15px; border-left: 3px #f40 solid; padding-left:10px; font-weight: bold; color: #f40}
.m-textdown { height: 70px; overflow: hidden; position: relative; }
.m-textdown .tjcon { padding-bottom: 20px;}
.m-nrfg { height: 20px; background:url(../images/down.png); width: 100%; position: absolute; left: 0; bottom: 0; background-size: auto 20px}
.m-cktext { background-color: #fff; padding: 10px;}
.m-cktext a { display: block; height: 30px; line-height: 30px; text-align: center; background-color: #f3f3f3; font-size: 1.4rem; color: #666}
.m-xggame { margin-bottom: 10px;}
.m-xggame div { font-size: 1.3rem;}
#thelist { background-color: #fff; padding: 8px 0}
.m-xggame .m-xgadiv  a.m-at{ display: inline-block; width: 100px; height: 30px; line-height: 30px; color: #fff; border-radius: 5px; background-color: #f40; text-align: center; margin-top: 5px;}
.m-xggame .m-xgtit{ font-size: 1.6rem; margin-bottom: 5px;}
.m-xggame .m-xgtit a{ color: #f40;}
.m-xgameimg img{ width: 100px; height: 100px; display: block; border-radius: 20px;margin-right: 10px;}
.flexslider { width:96%; margin:0 2%; text-align:center; }
.flexslider .slides li img{ max-width:100%; max-height: 300px;}
.flexslider .flex-direction-nav { display: none}

.m-hyp {}
.m-hyp a{ font-size: 1.5rem; display: inline-block; color: #333; height: 40px; line-height: 40px; margin: 0; }
.m-hyp a .f-tyimg{ width: 20px; height: 20px; background-position: -70px 0; background-size: 1430px; margin: 2px 5px 0 0}
.m-hyp a em { color: #333;}
.m-hyp a:hover em { color: #333;}
.m-hyp a:active em { color: #f40;}

.m-more { height: 40px; line-height: 40px; font-size: 1.4rem; padding: 0 10px }
.m-more:hover { background-color: #f2f2f2}


/* 分享 */
.g-bdfx { background-color: #fff; height: 60px;}
.g-bdfx div { width: 100%}
body .g-bdfx div a { width: 20%; text-align: center; padding: 0; margin: 0; border-right:1px #eee solid; height: 50px;  text-align: center; float: left;}
body .g-bdfx div a {  background: none;}
body .g-bdfx div a { height: 50px; display: block; margin: 0 auto; background-size: 50px; background-repeat: no-repeat; }
body .g-bdfx div a.bds_tsina{background-position: center center;  background-image: url(../images/fxweibo.png);}
body .g-bdfx div a.bds_sqq{background-position: center center;  background-image: url(../images/fxqq.png);}
body .g-bdfx div a.bds_weixin{background-position: center center;  background-image: url(../images/fxweixin.png);}
body .g-bdfx div a.bds_qzone{background-position: center center;  background-image: url(../images/fxqzone.png);}
body .g-bdfx div a.bds_copy{background-position: center center;  background-image: url(../images/fxmore.png);}

/* 搜索 */
.search-form{ display:block; }
.search-form h2{ font-size:20px; font-weight:bold; color:#1a1a1a; padding:12px 10px 0;}
.search-form>form{ padding:10px; display:block;}
.search-form .sou{ width:90%; height:auto; display:block; overflow:hidden; padding:0 10px;}

.search-form .sou p{ width:98%; height:auto; line-height:22px; display:block; margin-top:5px; font-size:14px;}
.search-form .sou p a{ padding:0 10px 0 0; line-height:28px; font-size:14px;}
.m-ssk {padding: 20px 10px 20px}
.search-bar{ width:100%; height:41px; line-height:41px;display:-webkit-box; overflow:hidden;}
.search-bar .text{ display:-webkit-box;-webkit-box-flex:1;}
.search-bar .text>input{ display:block;width:100%; height:41px;font-size: 17px;color: #aaaeb3; text-indent:10px; border-radius:4px 0 0 4px; border:1px solid #ddd; border-right:0; position:relative}
.search-bar .m-btn{ height:100%; display: -webkit-box;}
.search-bar .m-btn>input{width:65px; height:100%;  border:0; background:url(../images/srch1.png) no-repeat 16px 6px #dc0006; border-radius:0 4px 4px 0; display:block;}
.search-bar input{border:0;resize: none;outline: none;-webkit-appearance: none;white-space: pre-wrap;word-wrap: break-word;	background-color: #fff;}

.m-hotss p a  { display: inline-block; padding: 8px 10px; margin-left: 15px; font-size: 1.5rem; background-color: #fff; border: 1px #ddd solid; border-radius: 8px; margin-bottom: 15px;}
.m-hotss p a:hover { background-color: #f40; color: #fff;}
/* 提示信息 */
.m-tishi { padding: 20px;}
.m-tishi h4 { text-align: center; margin-bottom: 20px; line-height: 22px; font-size: 1.5rem;}
.m-tishi p a {    line-height: 30px;    display: block;    text-align: center;    border: 1px solid #df3221;    color: #FFF;    font-size: 1.6rem;    font-family: microsoft yahei;    padding: 20px;    background: -webkit-gradient(linear, left top, left bottom, from(#ec523f), to(#df3e2f));    border-radius: 12px;    box-shadow: 0 2px 2px 0 #d4d3d3;}
.m-tishi p a:hover {}

/* 玩游戏页面 */
#palybody { padding: 0; margin: 0;}
/* 分享按钮 */
#playfx { width: 100%; height: 24px; background-color: rgba(0,0,0,0.5); position: fixed; top:0;right:0;z-index: 99999}
#playfx a { display: block;  height: 24px; line-height: 24px; text-align: center; color: #fff;}
.f-ggx {    position: fixed;    top: 0;    left: 0;    z-index: 9997;    width: 100%;    padding:10px;    background: rgba(0,0,0,0.8);}
.f-ggx { color: #fff;}
.f-ggx p,.f-ggx h3  { line-height: 24px; font-size: 1.2rem;}
.f-ggx h3 { font-size: 1.5rem;}
.f-ggx p a { color: #fff;}
.m-titi{    margin: 10px auto;    width: 70%;    line-height: 1px;    border-bottom: 1px solid #666;}
.m-titi span {    background: #3d3d3d;    padding: 0 10px; color: #fff}
.m-fxdiv {    display: -webkit-box;    display: -webkit-flex;    display: -ms-flexbox;    display: flex;    width: 90%;    margin: 0 auto;    padding: 10px 0;}
.m-fxdiv div { position: static;   display: block;    -webkit-box-flex: 1;    -webkit-flex: 1;    -ms-flex: 1;    flex: 1;}
.m-fxdiv div a {    text-decoration: none;    color: #fff;    -webkit-user-select: none;    -ms-user-select: none;    user-select: none;    touch-callout: none;    -webkit-tap-highlight-color: rgba(0,0,0,0.0);    display: block;    -webkit-box-sizing: border-box;    box-sizing: border-box;    margin: 0 auto;    padding: 4px 4px 0 4px;    width: 60px;    border-radius: 6px; text-align: center;}
.m-fxdiv div a img {    width: 100%;}
.m-close{    display: block;    padding: 0;    text-align: center;    border-top: 1px solid #666;
    color: transparent;    font: 0/0 a;    text-shadow: none;}

    .tishi { width: 50%; height: 50%; background-color: #fff;position: fixed;top:25%;left:25%; text-align: center; font-size: 1.5rem; line-height: 30px; padding: 30px 20px ; border-radius: 10px; border: 1px #ccc solid;}

/* 专题列表 */
.m-listbox {position: relative; background-color: #fff;}
.m-listbox dl {    position: relative;      border-bottom: 1px solid #f2f2f2;    padding: 10px; }
.m-listbox dl a { display: block;}
.m-listbox  dt {position: absolute;left: 10px;top: 10px;}
.m-listbox img {    width: 120px;    height: 80px;    display: block;}
.m-listbox dd {    padding: 0px 0px 0px 130px; height: 80px;}
.m-listbox dd strong { display: block;    font-size: 1.6rem;    color: #333;    padding: 0px 0px 0px 0px;    height: 26px;    line-height: 24px;    overflow: hidden;}
.m-listbox dd div {    position: relative;    height: 35px;    font-size: 1.3rem;    color: #666;    line-height: 18px;    overflow: hidden;}
.m-listbox dd span {position: relative; display: block; height: 20px; line-height: 20px; font-size: 1.2rem; color: #999}
.m-listbox dl dd i{ display: inline-block; height: 20px; float: left; width: 20px; background-size: 1500px;}
.m-listbox dl dd b { font-weight: normal; margin-right: 5px;}
.m-listbox dl a:hover { background-color: #f1f1f1;}
.m-listbox dl a:hover strong,.m-listbox dl a:hover p,.m-listbox dl a:hover span { color: #f40;}
.f-tyimg { background-image: url(../images/mico.png); background-repeat: no-repeat;}
.m-hyp {margin:0; height: 40px;}
.m-hyp a{ font-size: 1.5rem; line-height: 40px; color: #333; padding-right: 10px;  }
.m-hyp a .f-tyimg{ width: 20px; height: 20px; background-position: -70px 0; background-size: 1430px; margin: 12px 5px 0 0}
.m-hyp a em { color: #333;}
.m-hyp a:hover em { color: #333;}
.m-hyp a:active em { color: #f40;}
#adgame { width: 100%; background-color: #fff;    height: 170px;}
.m-adjk { background-color: #fff;}

.f-more{
    width: 96%;
    height: 35px;
    line-height: 35px;
	border:1px solid #F00;
    font-size: 14px;
    font-weight: bold;
    color: #F00;
    text-align: center;
    display: block;
    overflow: hidden;
	margin:10px auto;
	border-radius:6px;
}