<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Betsy20000.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,2},{341,606}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,606}}</string>
				<key>sourceSize</key>
				<string>{341,606}</string>
			</dict>
			<key>Betsy2_eyes0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,452},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,530},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,530},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,452},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,452},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,530},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,530},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,452},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy2_eyes0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,374},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>
			<key>Betsy_main0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{527,755}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{527,755}}</string>
				<key>sourceSize</key>
				<string>{527,755}</string>
			</dict>
			<key>Betsy_main_eyes0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,2},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,95},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,188},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,188},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,95},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,95},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,188},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,188},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,95},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
			<key>Betsy_main_eyes0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,281},{132,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,91}}</string>
				<key>sourceSize</key>
				<string>{132,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>betsy_person.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>betsy_person.png</string>
		</dict>
	</dict>
</plist>
