<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>txt_tips0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,76},{389,35}}</string>
				<key>offset</key>
				<string>{-187,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,0},{389,35}}</string>
				<key>sourceSize</key>
				<string>{389,35}</string>
			</dict>
			<key>txt_tips0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,39},{410,35}}</string>
				<key>offset</key>
				<string>{-187,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,0},{410,35}}</string>
				<key>sourceSize</key>
				<string>{410,35}</string>
			</dict>
			<key>txt_tips0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{483,35}}</string>
				<key>offset</key>
				<string>{-231,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{483,35}}</string>
				<key>sourceSize</key>
				<string>{483,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>translation_tips.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>translation_tips.png</string>
		</dict>
	</dict>
</plist>
