<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>trans_Fairytable0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,111},{207,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,42}}</string>
				<key>sourceSize</key>
				<string>{207,42}</string>
			</dict>
			<key>trans_Panda0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,429},{269,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,51}}</string>
				<key>sourceSize</key>
				<string>{269,51}</string>
			</dict>
			<key>trans_btn_OK0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,111},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_OK0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,174},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_OK0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,260},{302,82}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{302,82}}</string>
				<key>sourceSize</key>
				<string>{302,82}</string>
			</dict>
			<key>trans_btn_OK0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,344},{302,82}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{302,82}}</string>
				<key>sourceSize</key>
				<string>{302,82}</string>
			</dict>
			<key>trans_btn_more_game0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,2},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_more_game0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,88},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_more_game0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,346},{302,81}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,3},{302,81}}</string>
				<key>sourceSize</key>
				<string>{302,81}</string>
			</dict>
			<key>trans_btn_start_game0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,197},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_start_game0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,174},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_start_game0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,369},{302,81}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,3},{302,81}}</string>
				<key>sourceSize</key>
				<string>{302,81}</string>
			</dict>
			<key>trans_btn_try again0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,260},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_try again0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,283},{311,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,84}}</string>
				<key>sourceSize</key>
				<string>{311,84}</string>
			</dict>
			<key>trans_btn_try again0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,428},{302,81}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,3},{302,81}}</string>
				<key>sourceSize</key>
				<string>{302,81}</string>
			</dict>
			<key>trans_nomenoy0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,2},{255,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,107}}</string>
				<key>sourceSize</key>
				<string>{255,107}</string>
			</dict>
			<key>trans_result0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,452},{224,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,50}}</string>
				<key>sourceSize</key>
				<string>{224,50}</string>
			</dict>
			<key>trans_valentine0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,482},{237,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,43}}</string>
				<key>sourceSize</key>
				<string>{237,43}</string>
			</dict>
			<key>trans_welcome0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{279,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,106}}</string>
				<key>sourceSize</key>
				<string>{279,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>translation.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>translation.png</string>
		</dict>
	</dict>
</plist>
